*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;    

}

body img{

    width: 100%;
}

main{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 30vh;
    

}

tbody{
    
    border-radius: 10px;
    padding: 5px 5px;
    display: flex;
    height: 100%;   
}

table{
    background-image:url(./img/backgroun_wood.png);
    background-repeat: no-repeat, repeat;
    table-layout:fixed;
    width: 425px;
    height: 375px;       
    border-radius: 10px;
    box-shadow: 0 5px 30px black;
    /* border: solid 3px #0180c9; */
    
}
table tr{
    width: 100% ;
    display: flex;
    flex-direction: column;


 
}

table tr td{   
    width: 100%px;
    height: 60.71px;
    display: flex;
    justify-content: center;
    justify-items: center;


}
table tr td div{

    width: 80%;
    height: 80%;
    background-color: blue;
    border-radius: 50%;
    padding: 0 5px;
    background: -moz-radial-gradient(transparent 10px, rgba(0,0,0,1) 30px);
    background: -webkit-radial-gradient(transparent 10px, rgba(0,0,0,1) 30px);
    background: -ms-radial-gradient(transparent 10px,rgba(0,0,0,1) 30px);
    background: -o-radial-gradient(transparent 10px, rgba(0,0,0,1) 30px);
    display: flex;
    align-items: center;
}
#blackCircle{

    background-image: url(./img/first.png);


}

#yellowCircle{

}

.fundoTabela{
    


}