*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-image: url('./img/background.jpg');    
    background-size: cover;
    

}


main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{

    background-image: url('./img/backgroun_wood.png');
    background-position: center top;
    padding: 15px;
    border-radius: 10px;   
    box-shadow: 10px 5px 5px 5px rgba(0, 0, 0, 0.329);
}

table tr{

    display: flex;
    flex-direction: column-reverse;

} 

table tbody{
    
    display: flex;

    
}
table tr td{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    background: -webkit-radial-gradient(transparent 5px, rgba(0,0,0,1) 40px);
    background: -moz-radial-gradient(transparent 5px, rgba(0,0,0,1) 30px);    
    background: -ms-radial-gradient(transparent 5px, rgba(0,0,0,1) 30px);
    background: -o-radial-gradient(transparent 5px, rgba(0,0,0,1) 30px);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.329);
}
    
    


}


#yelloCircle{


}

#blackCircle{

}